* {
    font-family: 'Roboto', sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}



ul {
    list-style-type: none;
    padding: 0;
}

.right_link ul {
    display: flex;
    gap: 10px;

}



.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}



.containerB {
    display: flex;
    flex-wrap: wrap;
    width: 300px;


}

.heroBanner,
.header {
    background-color: #1F2937;
}

.heroBanner button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.threebox {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.box {

    border: 3px solid blue;
    height: 100px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storycard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    min-height: 400px;

}

.quote {
    display: flex;
    flex-wrap: wrap;
    width: 550px;

}

.quote .author {
    flex: 1;
    display: flex;
    justify-content: end;
    font-size: 18px;
    padding: 10px;
}

img {
    width: 200px;
}