* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    list-style-type: none;
}

.right_link ul {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}



.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 60px;

}

.heroBanner,
.header {
    background-color: #1F2937;
}

.heroBanner button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.threebox {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {}

.box {

    border: 5px solid blue;
}